#debit{
			position: absolute;
			top: 50%;
			left: 50%;
			transform: translate(-50%, -50%);

		}

		#btn :hover{
			opacity: 0.6;
		}

		#smpn :hover{
			opacity: 0.6;
		}

		#ttldbt :hover{
			opacity: 0.6;
		}

		#svdbt :hover{
			opacity: 0.6;
		}

		#totalnotacash :hover{
			opacity: 0.6;
		}
		#bank :hover{
			opacity: 0.6;
		}
